@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-border {
    position: relative;
    backdrop-filter: blur(6px);
  }

  .gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    backdrop-filter: blur(6px);
    border-radius: inherit;
    background: linear-gradient(101.49deg, #e94e1b 0.92%, #fdc801 96.93%);
    -webkit-mask: linear-gradient(white, white) content-box,
      linear-gradient(white, white);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

@layer components {
  .gradient-border2 {
    position: relative;
    border: 1px solid;
    border-image-source: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      linear-gradient(
        101.49deg,
        rgba(233, 78, 27, 0.4) 0.92%,
        rgba(253, 200, 1, 0.4) 96.93%
      );
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.04),
        rgba(255, 255, 255, 0.04)
      ),
      linear-gradient(
        101.49deg,
        rgba(233, 78, 27, 0.04) 0.92%,
        rgba(253, 200, 1, 0.04) 96.93%
      );
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
  }

  .gradient-border2::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: linear-gradient(
      101.49deg,
      rgba(233, 78, 27, 0.4) 0.92%,
      rgba(253, 200, 1, 0.4) 96.93%
    );
    -webkit-mask: linear-gradient(white, white) content-box,
      linear-gradient(white, white);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

@layer components {
  .gradient-border3 {
    position: relative;
  }

  .gradient-border3::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: linear-gradient(101.49deg, #e94e1b 0.92%, #fdc801 96.93%);
    -webkit-mask: linear-gradient(white, white) content-box,
      linear-gradient(white, white);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

.custom-next.swiper-button-active,
.custom-prev.swiper-button-active {
  background-color: linear-gradient(
    180deg,
    #e94e1b 0%,
    #fdc801 100%
  ) !important;
  color: white !important;
}

.underline-animation {
  @apply relative;
}

.underline-animation::after {
  @apply absolute content-[''] w-full left-0 border bottom-[-5px] scale-x-0 hover:scale-x-100 transition-transform duration-300 border-primary;
}

.swiper-pagination {
  @apply flex items-center justify-center gap-2 xsm:mb-4 cursor-pointer;
}

.custom-pagination-bullet {
  @apply !w-2 lg:!w-3 !h-2 lg:!h-3 rounded-full bg-neutral  opacity-50;
}

.custom-pagination-bullet-active {
  @apply !bg-primary opacity-100;
}

@font-face {
  font-family: "MontserratLight";
  src: url("/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "MontserratMedium";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "MontserratBold";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "MontserratExtraBold";
  src: url("/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "MontserratBlack";
  src: url("/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "PpEditorialRegular";
  src: url("/fonts/pp-editorial-new-italic.otf") format("onetype");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Questrial-Regular.ttf") format("truetype");
  font-weight: 400;
}
