@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-linear: linear-gradient(101.49deg, #e94e1b 0.92%, #fdc801 96.93%);
}

@layer components {
  .gradient-border {
    background: transparent;
    background-repeat: no-repeat;
    border: 3px;
    border-style: solid;
    border-color: transparent;
    border-image-source: url(../../public/gradient.svg);
    border-image-repeat: stretch stretch;
    border-image-slice: 49;
    border-image-width: 100px;
    border-image-outset: 6px;
    padding: 16px 28px;
    border-radius: 100px;
  }
}

@layer components {
  .gradient-icon {
    color: linear-gradient(101.49deg, #e94e1b 0.92%, #fdc801 96.93%);
    -webkit-background-clip: text;
    /* color: transparent; */
  }
}

.swiper-pagination{
  @apply flex items-center justify-center gap-2 mb-4 cursor-pointer;
}

.custom-pagination-bullet {
  @apply !w-2 xsm:!w-3 !h-2 xsm:!h-3 rounded-full bg-neutral  opacity-50;
}

.custom-pagination-bullet-active {
  @apply !bg-primary opacity-100;
}

@font-face {
  font-family: "MontserratLight";
  src: url("/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "MontserratMedium";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "MontserratBold";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "MontserratExtraBold";
  src: url("/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "MontserratBlack";
  src: url("/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "PpEditorialRegular";
  src: url("/fonts/pp-editorial-new-italic.otf") format("onetype");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Questrial-Regular.ttf") format("truetype");
  font-weight: 400;
}
